aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
asyncio==3.4.3
attrs==25.3.0
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
propcache==0.3.2
pyaes==1.6.1
pyasn1==0.6.1
qrcode==8.0
rsa==4.9.1
Telethon==1.40.0
yarl==1.20.1
redis==5.0.1
rq==1.16.2
